In [1]:
import pandas as pd
df = pd.read_excel('/Users/talhakhalil/Desktop/CRST Patient List_May 29 2019.xls')
df.columns = ['Patients', 'Event Name', 'Date and Time', 'Subtotal score A', 'Subtotal score B','Subtotal score C', 'Total Score']
df.drop([0], axis = 0, inplace = True)
grouped = df.groupby('Patients')

In [18]:
for patient in grouped.groups: 
    print (patient)

9001
9002
9003
9004
9005
9006
9007
9008
9009
9010
9011
9013
9016
9019
9020
9021
9022
9023
9024
9025

In [21]:
new_group = grouped.get_group(9001).T
new_group

,1,2,3
Patients,9001,9001,9001
Event Name,Baseline (Arm 6: HIFU),3 month Post Op assessment (Arm 6: HIFU),1 year Post Op assessment (Arm 6: HIFU)
Date and Time,NaN,NaN,2018-07-11 10:46:00
Subtotal score A,9,6,5.5
Subtotal score B,20,14,9
Subtotal score C,14,10,10
Total Score,43,30,24.5