In [1]:
import pandas as pd
df = pd.read_excel('/Users/talhakhalil/Desktop/CRST Patient List_May 29 2019.xls')

df

,CLINICAL RATING SCALE FOR TREMOR,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,PHN,Event Name,Date and Time,Subtotal score A,Subtotal score B,Subtotal score C,Total Score
1,9001,Baseline (Arm 6: HIFU),NaN,9,20,14,43
2,9001,3 month Post Op assessment (Arm 6: HIFU),NaN,6,14,10,30
3,9001,1 year Post Op assessment (Arm 6: HIFU),2018-07-11 10:46:00,5.5,9,10,24.5
4,9002,Baseline (Arm 6: HIFU),NaN,3.5,11,11,25.5
5,9002,3 month Post Op assessment (Arm 6: HIFU),NaN,1,0,1,2
6,9002,1 year Post Op assessment (Arm 6: HIFU),2018-06-12 14:28:00,2,0,0,2
7,9003,Baseline (Arm 6: HIFU),NaN,12.5,20,10,42.5
8,9003,Lost to Follow Up (Arm 6: HIFU),NaN,NaN,NaN,NaN,NaN
9,9003,3 month Post Op assessment (Arm 6: HIFU),NaN,16,23,2,41
10,9004,Baseline (Arm 6: HIFU),NaN,16.5,12,NaN,NaN
11,9004,3 month Post Op assessment (Arm 6: HIFU),NaN,4.5,12,0,16.5
12,9005,Baseline (Arm 6: HIFU),NaN,10,21,15,46
13,9005,3 month Post Op assessment (Arm 6: HIFU),NaN,6,15,6,27
14,9006,Baseline (Arm 6: HIFU),NaN,6,23,12,41
15,9006,3 month Post Op assessment (Arm 6: HIFU),NaN,2,10,0,12
16,9006,1 year Post Op assessment (Arm 6: HIFU),2018-12-12 13:30:00,5.5,10,1,16.5
17,9007,Baseline (Arm 6: HIFU),NaN,10,19,14,43
18,9007,3 month Post Op assessment (Arm 6: HIFU),NaN,5,5,0,10
19,9007,1 year Post Op assessment (Arm 6: HIFU),2018-12-20 13:26:00,8,3,3,14
20,9008,Baseline (Arm 6: HIFU),NaN,5,13,5,23
21,9008,3 month Post Op assessment (Arm 6: HIFU),NaN,7.5,7,0,14.5
22,9009,Baseline (Arm 6: HIFU),NaN,18,36,25,79
23,9009,3 month Post Op assessment (Arm 6: HIFU),NaN,9,20,3,32
24,9009,1 year Post Op assessment (Arm 6: HIFU),2018-12-20 11:03:00,6,15,2,23
25,9010,Baseline (Arm 6: HIFU),NaN,13,26,16,55
26,9010,3 month Post Op assessment (Arm 6: HIFU),2018-09-12 14:41:00,6,13,7,26
27,9010,1 year Post Op assessment (Arm 6: HIFU),2019-04-09 12:47:00,6,10,2,18
28,9011,Baseline (Arm 6: HIFU),NaN,34,36,26,96
29,9011,3 month Post Op assessment (Arm 6: HIFU),2018-10-10 10:52:00,16,29,14,59
30,9011,1 year Post Op assessment (Arm 6: HIFU),NaN,0,NaN,NaN,NaN
31,9013,Baseline (Arm 6: HIFU),NaN,39.5,36,28,103.5
32,9013,3 month Post Op assessment (Arm 6: HIFU),NaN,14,24,6,44
33,9013,1 year Post Op assessment (Arm 6: HIFU),2019-05-08 12:45:00,22,27,17,66
34,9016,Baseline (Arm 6: HIFU),2018-03-07 12:14:00,22,22,22,66
35,9016,3 month Post Op assessment (Arm 6: HIFU),NaN,8,18,19,45
36,9019,Baseline (Arm 6: HIFU),2019-01-21 09:06:00,9.5,26,12,47.5
37,9019,3 month Post Op assessment (Arm 6: HIFU),2019-04-22 13:13:00,9,8,8,25
38,9020,Baseline (Arm 6: HIFU),NaN,19.5,28,19,66.5
39,9020,3 month Post Op assessment (Arm 6: HIFU),2018-10-09 11:00:00,12,17,10,39
40,9021,Baseline (Arm 6: HIFU),NaN,13,13,16,42
41,9021,3 month Post Op assessment (Arm 6: HIFU),2019-01-25 11:05:00,5.5,9,1,15.5
42,9022,Baseline (Arm 6: HIFU),2018-09-10 13:13:00,18,24,21,63
43,9023,Baseline (Arm 6: HIFU),2018-07-25 09:17:00,10.5,25,14,49.5
44,9024,Baseline (Arm 6: HIFU),2018-11-29 13:13:00,15.5,25,12,52.5
45,9025,Baseline (Arm 6: HIFU),2019-01-30 13:00:00,32,20,18,70

In [2]:
df.columns = ['Patients', 'Event Name', 'Date and Time', 'Subtotal score A', 'Subtotal score B','Subtotal score C', 'Total Score']
df.drop([0], axis = 0, inplace = True)
df.groupby('Patients')

,Patients,Event Name,Date and Time,Subtotal score A,Subtotal score B,Subtotal score C,Total Score
1,9001,Baseline (Arm 6: HIFU),NaN,9,20,14,43
2,9001,3 month Post Op assessment (Arm 6: HIFU),NaN,6,14,10,30
3,9001,1 year Post Op assessment (Arm 6: HIFU),2018-07-11 10:46:00,5.5,9,10,24.5
4,9002,Baseline (Arm 6: HIFU),NaN,3.5,11,11,25.5
5,9002,3 month Post Op assessment (Arm 6: HIFU),NaN,1,0,1,2
6,9002,1 year Post Op assessment (Arm 6: HIFU),2018-06-12 14:28:00,2,0,0,2
7,9003,Baseline (Arm 6: HIFU),NaN,12.5,20,10,42.5
8,9003,Lost to Follow Up (Arm 6: HIFU),NaN,NaN,NaN,NaN,NaN
9,9003,3 month Post Op assessment (Arm 6: HIFU),NaN,16,23,2,41
10,9004,Baseline (Arm 6: HIFU),NaN,16.5,12,NaN,NaN
11,9004,3 month Post Op assessment (Arm 6: HIFU),NaN,4.5,12,0,16.5
12,9005,Baseline (Arm 6: HIFU),NaN,10,21,15,46
13,9005,3 month Post Op assessment (Arm 6: HIFU),NaN,6,15,6,27
14,9006,Baseline (Arm 6: HIFU),NaN,6,23,12,41
15,9006,3 month Post Op assessment (Arm 6: HIFU),NaN,2,10,0,12
16,9006,1 year Post Op assessment (Arm 6: HIFU),2018-12-12 13:30:00,5.5,10,1,16.5
17,9007,Baseline (Arm 6: HIFU),NaN,10,19,14,43
18,9007,3 month Post Op assessment (Arm 6: HIFU),NaN,5,5,0,10
19,9007,1 year Post Op assessment (Arm 6: HIFU),2018-12-20 13:26:00,8,3,3,14
20,9008,Baseline (Arm 6: HIFU),NaN,5,13,5,23
21,9008,3 month Post Op assessment (Arm 6: HIFU),NaN,7.5,7,0,14.5
22,9009,Baseline (Arm 6: HIFU),NaN,18,36,25,79
23,9009,3 month Post Op assessment (Arm 6: HIFU),NaN,9,20,3,32
24,9009,1 year Post Op assessment (Arm 6: HIFU),2018-12-20 11:03:00,6,15,2,23
25,9010,Baseline (Arm 6: HIFU),NaN,13,26,16,55
26,9010,3 month Post Op assessment (Arm 6: HIFU),2018-09-12 14:41:00,6,13,7,26
27,9010,1 year Post Op assessment (Arm 6: HIFU),2019-04-09 12:47:00,6,10,2,18
28,9011,Baseline (Arm 6: HIFU),NaN,34,36,26,96
29,9011,3 month Post Op assessment (Arm 6: HIFU),2018-10-10 10:52:00,16,29,14,59
30,9011,1 year Post Op assessment (Arm 6: HIFU),NaN,0,NaN,NaN,NaN
31,9013,Baseline (Arm 6: HIFU),NaN,39.5,36,28,103.5
32,9013,3 month Post Op assessment (Arm 6: HIFU),NaN,14,24,6,44
33,9013,1 year Post Op assessment (Arm 6: HIFU),2019-05-08 12:45:00,22,27,17,66
34,9016,Baseline (Arm 6: HIFU),2018-03-07 12:14:00,22,22,22,66
35,9016,3 month Post Op assessment (Arm 6: HIFU),NaN,8,18,19,45
36,9019,Baseline (Arm 6: HIFU),2019-01-21 09:06:00,9.5,26,12,47.5
37,9019,3 month Post Op assessment (Arm 6: HIFU),2019-04-22 13:13:00,9,8,8,25
38,9020,Baseline (Arm 6: HIFU),NaN,19.5,28,19,66.5
39,9020,3 month Post Op assessment (Arm 6: HIFU),2018-10-09 11:00:00,12,17,10,39
40,9021,Baseline (Arm 6: HIFU),NaN,13,13,16,42
41,9021,3 month Post Op assessment (Arm 6: HIFU),2019-01-25 11:05:00,5.5,9,1,15.5
42,9022,Baseline (Arm 6: HIFU),2018-09-10 13:13:00,18,24,21,63
43,9023,Baseline (Arm 6: HIFU),2018-07-25 09:17:00,10.5,25,14,49.5
44,9024,Baseline (Arm 6: HIFU),2018-11-29 13:13:00,15.5,25,12,52.5
45,9025,Baseline (Arm 6: HIFU),2019-01-30 13:00:00,32,20,18,70